/* This is the style sheet for the doctorDashboard.html */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  thead {
    background-color: #33333310;
    color: #fff;
  }
  
  .table-header {
    font-size: 20px;
    font-weight: bold;
    padding: 12px 16px;
    text-align: center;
  }
  
  td {
    padding: 12px 16px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f959;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #ffffffc0;
  }
  
  tbody tr:hover {
    background-color: #015c5d39;
    cursor: pointer;
  }
  
  .prescription-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease, filter 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .prescription-btn:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
  }
  
  .prescription-btn:active {
    transform: scale(0.95);
  }
  
  .noPatientRecord {
    font-size: 16px;
    font-style: italic;
    color: grey;
    text-align: center;
    padding: 20px;
  }
  
  .today-btn {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #015c5d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .today-btn:hover {
    background-color: #017d7e;
  }
  
  .date-picker {
    margin-left: 10px;
    margin-top: 13px;
    border-radius: 8px;
    padding: 10px;
    height: 30px;
    border: 1px solid #ccc;
  }
  
  .searchBar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
  }